@import 'variables';

.ability{
    font-size: 32px;
    color: $primary-color;
}
.course-button {
    color: #fff;
    background-color: $primary-color;
    line-height: 40px;
    margin: 8px 0;
    width:180px;
    border:1px solid ;
    border-radius: 999px!important;
    cursor: pointer;
}

.course-description{
    background-color: #ccc;
}
