@import 'variables';


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

.information {
    text-align: center;
    line-height: 1.5;
    box-sizing: border-box; 
    height: 300px;
}

.ability {
    font-size: 32px;
    color: $primary-color;
    /* Thiết lập box sizing */
}



.course-button {
    color: #fff;
    background-color: $primary-color;
    line-height: 40px;
    margin: 8px 0;
    width:180px;
    border:1px solid ;
    border-radius: 999px;
    cursor: pointer;
}

.course-description{
    background-color: #ccc;
}

.checkbox-select-all-options{
    width: 160px !important;
    margin: 0 16px;
}
